.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fff1eb, #ace0f9);
  min-height: 100vh;
}
.app-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading {
  color: #1e293b;
  font-size: 40px;
  font-family: "Bree Serif";
  margin-top: 64px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 96px;
  }
}
.input-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 2px solid #7b8794;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .input-and-search {
    max-width: 480px;
  }
}
.search {
  width: 90%;
  border: none;
  background-color: transparent;
  font-size: 24px;
  outline: none;
  color: #7b8794;
}
.buttton-search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.search-icon {
  height: 28px;
  width: 28px;
}

.tab-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* @media screen and (min-width: 768px) {
  .tab-list-container {
    width: 45%;
  }
} */
.app-item-container {
  list-style-type: none;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
